
<div class="add-form">
  <%= simple_form_for(task) do |f| %>
    <%= f.input :name, placeholder: 'Name of task', label: false %>
    <%= f.input :description, as: :text, placeholder: 'Write a description of what you need to do here...', label: false %>

    <div class="add-btn">
      <%= f.button :submit, "Get it done!" %>
    </div>
  <% end %>
</div>
