<div class="main-img">
  <div class="container-index">
    <div class="list-header">
    <h1>To Do List</h1>
</div>
  <div class="task-display">
      <% number = 0 %>
    <% @tasks.each do |task| %>
    <div class="task-info">
      <h3> <%= number += 1 %>. <%= task.name %>: <%= task.description %>
        <%= link_to edit_task_path(task) do %>
        <i class="fas fa-pen"></i>
        <% end %>

      </h3>
    </div>
    <% end %>
    </div>
  </div>
</div>
