.task-info {
  position: relative;
  z-index: 1;
}

.task-info::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: #ebcfcf;
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: all 0.1s ease-in-out;
}

.task-info:hover::before {
  transform: scaleY(1);
  background-color: hsla(0, 41%, 87%, 0.75);
}

.back-btn {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;

  }
}

.back-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: #ebcfcf;
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: all 0.1s ease-in-out;
}

.back-btn:hover::before {
  transform: scaleY(1);
  background-color: hsla(0, 41%, 87%, 0.75);
}
