.new-header {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.new-page {
  background: #ebcfcf;
  min-height: 100vh
}

.list-header {
  text-align: center;
  border-bottom: 5px solid #8C9A9E;
  width: 20%;
  margin: 0 auto;
}

.fa-pen {
  color: #8C9A9E;
}
