#navbar {
  height: 65px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.fa-comment {
  font-size: 40px;
  color: #8C9A9E;
  text-align: center;
}

.add-task-btn {
  text-decoration: none;
  color: #8C9A9E;
  align-items: center;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: #8C9A9E;
  }
}

.logout-btn {
  text-decoration: none;
  color: #8C9A9E;
  align-items: center;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: #8C9A9E;
  }
}

.navbar-items {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}
