.task-display {
  height: 300px;
  width: 75%;
  // background-image: url('https://is4-ssl.mzstatic.com/image/thumb/Purple71/v4/3d/ac/4e/3dac4ecb-0f91-1e94-0847-449828239526/icon.png/1200x630bb.png');
  // background-position: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  // flex-flow: row wrap;
}


.task-info {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  color: black;

  }
}

.task-description {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
